<!DOCTYPE html>
<html lang="{% block lang -%}en{%- endblock %}">
    <head>
        {% block head -%}
            <meta charset="{% block charset -%}utf-8{%- endblock %}">

            <title>{% block title -%}% Base::Title %{%- endblock %}</title>
            <meta name="description" content="{% block description -%}% Base::Description %{%- endblock %}"/>

            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

            {% block css -%}<!-- % Base::CSS % -->{%- endblock %}

            {% block js -%}<!-- % Base::JS % -->{%- endblock %}
        {%- endblock %}
    </head>
    <body id="body">
        {% block flash_messages -%}
            % Base::FlashMessages %
        {%- endblock %}

        {% block body -%}
            <div id="wrap">
                <div id="wrap-inner">
                    {% block body_wrap -%}
                        {% block header -%}
                            % Base::Header %
                        {%- endblock %}

                        {% block content -%}
                            % Base::Content %
                        {%- endblock %}

                        {% block footer -%}
                            % Base::Footer %
                        {%- endblock %}
                    {%- endblock %}
                </div>
            </div>
        {%- endblock %}

        {% block overflow -%}
            % Base::Overflow %
        {%- endblock %}
    </body>
</html>
