{% extends "BWSkeletonBundle:Frontend:layout.html.twig" %}

{% block content_wrap -%}
    {% block top -%}
        <div class="row">
            <div class="col-lg-12">
                <div id="top">
                    {% block top_wrap -%}
                        % Content::Top %
                    {%- endblock %}
                </div>
            </div>
        </div>
    {%- endblock %}

    <div class="row">
        {% block left_sidebar -%}
            <div class="col-lg-3">
                <div id="left-sidebar">
                    <aside>
                        {% block left_sidebar_wrap -%}
                            % Content::LeftSidebar %
                        {%- endblock %}
                    </aside>
                </div>
            </div>
        {%- endblock %}

        {% block article -%}
            <div class="col-lg-6">
                <div id="article">
                    <article>
                        {% block article_wrap -%}
                            % Content::Content %
                        {%- endblock %}
                    </article>
                </div>
            </div>
        {%- endblock %}

        {% block right_sidebar -%}
            <div class="col-lg-3">
                <div id="right-sidebar">
                    <aside>
                        {% block right_sidebar_wrap -%}
                            % Content::RightSidebar %
                        {%- endblock %}
                    </aside>
                </div>
            </div>
        {%- endblock %}
    </div>

    {% block bottom -%}
        <div class="row">
            <div class="col-lg-12">
                <div id="bottom">
                    {% block bottom_wrap -%}
                        % Content::Top %
                    {%- endblock %}
                </div>
            </div>
        </div>
    {%- endblock %}
{%- endblock %}
